* {
    border: 1px dashed transparent;
}
/* ---------------------------Media query for smaller screens -------------------*/
@media screen and (max-width: 767px) {

body {
    font-family: sans-serif;
}

.alert-info {
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(209, 249, 249);
}

a.no-underline {
    font-size: small;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 0;
}

.nav-links {
    padding: 2px;
}

li {
    margin-top: 10px;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 15px;
    background-color: rgb(204, 204, 204);
}

    img {
        width: 100%; /* Adjust image size for smaller screens */
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    #social-media-links {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}
/*--------------------ABOVE IS FOR PHONE CSS ONLY-------------------*/

@media (min-width: 768px){

    body {
        font-family: sans-serif;
    }

    .hidden-on-desktop{
        display: none;
    }

    h1{
        position: relative;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: absolute;
        margin: 15px;
        right: -5px;
        top: 35px;
    }

    img {
        width: 100%; /* Adjust image size for smaller screens */
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .sub-section{
        font-style: italic;
    }

    .main, .sub-section {
        float: left; /* Float the sections left to align them horizontally */
        box-sizing: border-box; /* Include padding and borders in the width calculation */

    }

    .main {
        width: 60%;
    }

    .sub-section {
        width: 40%;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    #social-media-links {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}
